.modalStyle {
background-color:rgb(240,240,240) ;
border-radius: 8px;
box-shadow: 5px 2px 7px rgba(33,33,33,0.5);
min-width: 300px;
min-height: 300px;
position: fixed;
transform:translate(-50%,-50%);
top: 50%;
left: 50%;
}