.liStyle{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
}

.liStyle:hover{
    background-color: rgb(255, 0, 191);
}
.navStyle{
    display: flex;
    flex-direction: row;
}
.yatzybuttonStyle{
  background-color: rgb(0, 13, 255);
}
.pointbuttonStyle{
  background-color: rgb(255, 0, 191);
}
.buttonStyle{
  background-color: rgb(255, 255, 0);
  
}
.buttonStyle:hover{
  background-color: rgb(106, 91, 130);
}
.loginbuttonStyle{
  background-color: rgb(255, 115, 0);
}


