
.navStyle{
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pointbuttonStyle{
  background-color: rgb(255, 0, 191);
}
.pointbuttonStyle:hover{
    background-color: rgb(106, 91, 130);
}
.buttonStyle{
  background-color: rgb(255, 255, 0);
  
}
.buttonStyle:hover{
  background-color: rgb(106, 91, 130);
}



