* {
  font-family: 'Space Grotesk', 'Barlow', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', 'Barlow', sans-serif;
  overflow: hidden;
  height: 100vh;
}

html {
  overflow: hidden;
  height: 100vh;
}
